<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="bouncy-box-public-public" value="https://pkgs.dev.azure.com/bouncy-box/public/_packaging/public/nuget/v3/index.json" />
    <add key="terrafx" value="https://pkgs.dev.azure.com/tagoo/terrafx/_packaging/terrafx@Local/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>